// Breakpoints
$mobile:			360px !default;

$mobile-large:		640px !default;

$tablet:			768px !default;
$tablet-large:		1024px !default;

$desktop:			1170px !default;
$desktop-medium:	1440px !default;
$desktop-large:		1600px !default;

