// Color palette
$color-violet:				#5c2d83;
$color-dark-violet:			#4a1f6f;
$color-light-violet:		#ccb5d8;
$color-gray: 				#6c6c6c;
$color-light-gray: 			#f0f0f0;
$color-black:				#000;
$color-white:				#fff;

// Text
$text-color-violet:			$color-violet;
$text-color-gray:        	$color-gray;

// Button Text
$button-text:				#ccb5d8;
$button-hover-text:			$color-white;
$button-active-text:		$color-white;
$button-focus-text:			$color-white;

// Links
$color-link:        $color-violet;
$color-link-hover:  $color-dark-violet;


//border-colors
$border-gray:				#e5e5e5;
$input-border:				#dedede;

// Buttons //
$button-bg: 				$color-violet;
$button-hover-bg: 			$color-violet;
$button-active-bg: 			$color-dark-violet;
$button-focus-bg: 			$color-dark-violet;

// social icon//
$social-icon-bg:  #84649c;

