///*----------------------------------*\
//  #GLOBAL
//\*----------------------------------*/
// Font stacks //
$ar: "AvenirRegular";
$ar-i: "AvenirNextLTProIt";
$ar-d: "AvenirNextLTProDemi";
$ar-b: "AvenirNextLTProBold";

// Image Directory
$imagedir: '../images';

// Headings
$heading-size-1:        44px !default;
$heading-size-2:        32px !default;
$heading-size-3:        32px !default;
$heading-size-4:        22px !default;
$heading-size-5:        22px !default;
$heading-size-6:        20px !default;
$heading-size-7:        14px !default;


// High-level base settings.
$base-font-size:        16px !default;
$base-line-height:      28px !default;
// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$base-spacing-unit:       $base-line-height;
$base-spacing-unit-tiny:  round($base-spacing-unit / 4);
$base-spacing-unit-small: round($base-spacing-unit / 2);
$base-spacing-unit-large: round($base-spacing-unit * 2);
$base-spacing-unit-huge:  round($base-spacing-unit * 4);
