body {
    @include font-family($ar);
    @include font-size(18px, normal);
    font-weight:400;
    @include opacity(0.8);
    font-smoothing: antialiased;
    /*@include bp(mobile) {
        @include font-size(20px, normal);
    }*/

    strong {

        @include font-family($ar);
        
        em {
            font-style: italic;
        }
    }

    em {
        font-style: italic;
        
        strong {
            @include font-family($ar);
        }
    }
}
